repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-yaml
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: local
    hooks:
      - id: flutter-format
        name: Flutter Format
        entry: /home/richard/.local/bin/dart format --set-exit-if-changed .
        language: system
        types: [dart]
        pass_filenames: false

      - id: flutter-analyze
        name: Flutter Analyze
        entry: /home/richard/.local/bin/flutter analyze --fatal-infos --fatal-warnings
        language: system
        types: [dart]
        pass_filenames: false
